h1{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 500%;
    color: white;
    
    }

    /* header - header styling */
#top{
    width: 1805px;
    height: 75px;
    padding: 5px;
    background-color: red
    
}
#logo{
    display: inline-block;/* removes 'line break' from element so nav with position alongside */
}
/* nav - navigation styling */
nav{
    margin-right: 10px; /* give some breathing space */
    float: right; /* places nav buttons on opposite side to logo */
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 225%;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white
    
}
